# Ignore artifacts:
build
coverage

# Ignore package files:
package-lock.json
package.json

# Ignore all HTML files:
**/*.html

# Ignore astro things:
**/.astro/*
astro.config.mjs
config.ts
*.xml.js

# Ignore all Markdown files:
**/*.md
**/*.mdx
